.advantages {
  width: 100%;
  background: url('../../../assets/images/advantage_bunner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.advantages-set__box {
  background: rgba(246, 246, 249, 0.5);
  padding: 84px 0px 108px 0px;
}

.advantages-set-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  color: #202020;
  padding: 0px 0px 51px 0px;
}

.advantages-set-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.advantage-set-element {
  box-sizing: border-box;
  width: 49%;
  padding: 36px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.set-element__box {}

.set-element-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  padding: 0px 0px 17px 0px;
}

.set-element-text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
}

.set-element-img {
  display: block;
}