@import './01-header/header.css';
@import './02-promo/bunner.css';
@import './03-foryou/foryou.css';
@import './04-mather-capital/mather-capital.css';
@import './btn-circle.css';
@import './05-advantages/set/set.css';
@import './05-advantages/stock/stock.css';

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
}

.center {
  max-width: 1187px;
  margin: 0px auto;
  /* background-color: rgb(202, 202, 202); */
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

